ctransformers==0.2.5 # to run the model on cpu and to load the quantize model , lama
sentence-transformers==2.2.2 # for embedding
pinecone-client # to use pinecone dtabase to store embedding vectors
langchain==0.0.225 
flask #for frontend